@{
    ViewData["Title"] = "Home Page";
}
    <head>
        <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy|Permanent+Marker&display=swap" rel="stylesheet">
    </head>
<div id="home-container" class="text-center">
    <h1 class="display-4">Welcome to WheyMen!</h1>
    <h2 style="margin-bottom:2vh">The Church of Iron,<br/> The House of All Your Supplement Needs!</h2>
    <img src="https://onlineacademiccommunity.uvic.ca/sociologyofreligion/wp-content/uploads/sites/2813/2018/12/pope-dom.jpg"/>
</div>
