@{
    ViewData["Title"] = "Home Page";
}
    <head>
        <link rel="stylesheet" type="text/css" href="~/css/HomeStyle.css" />
        <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy|Permanent+Marker&display=swap" rel="stylesheet">
    </head>
<div id="home-container" class="text-center">
    <h1 class="display-4">Welcome to WheyMen!</h1>
    <h2>The Church of Iron,<br/> The House of All Your Supplement Needs!</h2>
</div>
